.form-wrapper{
  text-align: center;
}

.form{

}

.btn{
    color: white;
  background: rgb(35, 162, 212);
  padding: 0.6rem 5rem;
  border: 1px solid rgb(35, 162, 212);
  border-radius: 1rem;
  font-size: 17px;
  line-height: 1.5;
}